body{
    min-width:700px;
}
*{
    margin:0;padding:0;
}
.left, .main, .right {
    min-height: 130px;
}
.left {
    background: green;
    width: 200px;
}
.main {
    background-color: blue;
}
.right {
    background-color: red;
    width: 300px;
}
.container {
    padding: 0 300px 0 200px;
}
.left, .main, .right {
    min-height: 130px;
    float: left;
}
.main {
    background-color: blue;
    width: 100%;
}
.left {
    margin-left: -100%;
    background-color: green;
    width: 200px;
}
.right {
    margin-left: -300px;
    background-color: red;
    width: 300px;
}
.left, .main, .right {
    position: relative;
    min-height: 130px;
    float: left;
}
.left {
    left: -200px;
    margin-left: -100%;
    background: green;
    width: 200px;
}
.right {
    right: -300px;
    margin-left: -300px;
    background-color: red;
    width: 300px;
}
